* {
  text-align: center;
}

body {
  background-color: #BDC4D6;
  font-family: Verdana, sans-serif;
  color: #000000;
}
strong {
  color: #050052;
}

#title {
  text-align: center;
  color: #e6e7ed;
  font-size: 32px;

}

#img-caption {
  color: #222222;
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
  font-style: italic;
}

figure {
  background-color: #d3daeb;
  padding: 15px;
  filter: blur;
  border-radius: 9px;
}

#image {
  max-width: 100%;
  height: auto;
  display: block;
  width: auto;
}

#tribute-footer {
  text-align: center;
  font-size: 14px;
}

#tribute-info {
  text-align: center;
}

li {
  padding-bottom: 12px;
  text-align: left;
  color: #0E0A4E;
}
